*
{
    box-sizing: border-box;
    list-style: none;
    
}
body
{
    margin:0px;
}
header{
    padding: 60px;
    background-color:yellowgreen;
    text-align: center;
}

header h1{
    font-size:70px;
    color: aliceblue;
    font-family: cursive;
}
nav{
    background-color:olivedrab;
    overflow: hidden;
    padding: 3px;
    font-family: cursive;

}
nav a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding: 14px 20px;
    float: left; 
    /*when we add float left ,we will not be able to see any thing in that case we have to add Ovberflow:hidden; in the nav */
    font-size: 30px;
}
section{
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    
}
section h1
{
    background-color: yellowgreen;
    color: aliceblue;
    
    
}
section img
{
    padding: 50px 35px;
    border-radius: 360px;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);

}
.container{

    width: 100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(white,greenyellow, yellowgreen);

}
.card{
    max-width: 90%;
    width: 800px;
    color: #fff;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}
.card img{
    width: 300px;
    border-radius:50px;
}

card h2{
    font-size: 80px;
    font-weight: 600;
    margin-top: 20px;
}
.card p
{
    font-size: 18px;
    margin: 10px auto;
    max-width: 330px;

}
.card .links img {
    width: 50px;
    border-radius: 50%;
    margin: 10px 5px;
    
}
.card .links img:hover{
    background: #ff01cf;
}
.btn
{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    color: #ff01cf;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0 10px;
}
footer
{
    background-color: gray;
    display: block;
    color: white;
    text-decoration:none;  /*this is to remove underline from the link*/
    padding:14px 20px;
    float: left;
}
  