*
{
    box-sizing: border-box;
    list-style: none;
    
}
body
{
    margin:0px;
}
header{
    padding: 60px;
    background-color:#BC8F8F;
    text-align: center;
}

header h1{
    font-size:70px;
    color: aliceblue;
    font-family: cursive;
}
nav{
    background-color:#9A616D;
    overflow: hidden;
    padding: 3px;
    font-family: cursive;

}
nav a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding: 14px 20px;
    float: left; 
    /*when we add float left ,we will not be able to see any thing in that case we have to add Ovberflow:hidden; in the nav */
    font-size: 30px;
}
section{
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    background: rgb(207, 204, 204 );
    
}
section h1
{
    background-color:#9A616D;
    color: aliceblue;
    
    
}
section img
{
    padding: 50px 35px;
    border-radius: 360px;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 50px;

}
.container{

    width: 100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(white,greenyellow, yellowgreen);

}
.cards{
    max-width: 90%;
    width: 800px;
    color: #fff;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}
.cards img{
    width: 300px;
    border-radius:50px;
}

.cards h2{
    font-size: 80px;
    font-weight: 600;
    margin-top: 20px;
}
.cards p
{
    font-size: 18px;
    margin: 10px auto;
    max-width: 330px;

}
.cards .links img {
    width: 50px;
    border-radius: 50%;
    margin: 10px 5px;
    
}
.cards .links img:hover{
    background: #ff01cf;
}
.btn
{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    color: #ff01cf;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0 10px;
}
footer
{
    background-color: gray;
    display: block;
    color: white;
    text-decoration:none;  /*this is to remove underline from the link*/
    padding:14px 20px;
    float: left;
}
  .wrapper{
    display: flex;
    justify-content: space-around;
}
.card
{
    width: 400px;
    height: 400px;
    padding: 2rem 1rem;
    background: #fff;
    position:relative;
    display: flex; 
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    border-radius: 50px;
}

.card:hover{
    transform: translateY(20px);
}

.card:before{
content:"";
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
height: 100%;
background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
z-index: 2;
transition: 0.5s all;
opacity: 0;
border-radius: 50px;

}
.card:hover:before{
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

}
.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;

}
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);

}
card .info h1{
    margin: 0;
}
.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;

}
.card .info .btn{
    text-decoration: none;
    padding: 0.5rem, 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition:0.4s ease-in-out;

}
.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.9);
    background: orange;
}
